<div class="inlineBlock">
    <div class="linkedinProfile contactLinks" ng-show="type == 'linkedin'">
        <a target="_blank" href="https://www.linkedin.com/pub/pratik-mehta/12/111/814" title="LinkedIn">
            <img src="images/logos/In-2C-14px.png" ng-show="sml" alt="LinkedIn"/>
            <img src="images/logos/In-2C-28px-R.png" height="32px" ng-show="!sml" alt="LinkedIn"/>
        </a>
    </div>
    <div class="facebookProfile contactLinks" ng-show="type == 'facebook'">
        <a target="_blank" href="https://www.facebook.com/detnator" title="Facebook">
            <img src="images/logos/FB-f-Logo__blue_29.png" height="14px" height="15px" ng-show="sml" alt="Facebook"/>
            <img src="images/logos/FB-f-Logo__blue_29.png" height="32px" ng-show="!sml" alt="Facebook"/>
        </a>
    </div>
    <div class="gmailProfile contactLinks" ng-show="type == 'gmail'">
        <div ng-click="showEmail()">
            <img src="images/logos/logo_gmail_mod.png" height="14px" ng-show="sml" alt="GMail"/>
            <img src="images/logos/logo_gmail_mod.png" height="32px" ng-show="!sml" alt="GMail"/>
        </div>
    </div>
    <div class="locationProfile contactLinks" ng-show="type == 'location'">
        <div ng-click="showLocation()">
            <img src="images/logos/Google_Maps_Logo-1.png" height="19px" ng-show="sml" alt="Location"/>
            <img src="images/logos/Google_Maps_Logo-1.png" height="37px" alt="Location"/>
        </div>
    </div>
</div>