<div class="inlineBlock">
    <div class="linkedinProfile contactLinks" ng-show="type == 'linkedin'">
        <a href="https://www.linkedin.com/pub/pratik-mehta/12/111/814" title="LinkedIn">
            <img src="images/logos/In-2C-14px.png" ng-show="sml" alt="LinkedIn"/>
            <img src="images/logos/In-2C-28px-R.png" ng-show="!sml" alt="LinkedIn"/>
        </a>
    </div>
    <div class="facebookProfile contactLinks" ng-show="type == 'facebook'">
        <a href="https://www.facebook.com/detnator" title="Facebook">
            <img src="images/logos/FB-f-Logo__blue_29.png" width="15px" height="15px" ng-show="sml" alt="Facebook"/>
            <img src="images/logos/FB-f-Logo__blue_29.png" ng-show="!sml" alt="Facebook"/>
        </a>
    </div>
</div>