@CHARSET "ISO-8859-1";

/* General */
body {
	font-size: 10pt;
	background-image: url('/images/bg/nice_snow_black.png');
	color: #efefef;
}

header, section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
	padding: 50px 0px;
        /*border-bottom: thin solid lightgray;*/
}

section {
	min-height: 500px;
        flex-direction: row;
        justify-content: flex-start;
}

@media (max-width: 786px) {
    section {
        height: auto;
    }
}

footer {
	height: 30px;
	color: #333;
}

button {
	border-radius: 5px;
	background-image: linear-gradient(to bottom, white 0px, rgb(222, 221, 221) 100%);
}

button:hover {
	background-image: linear-gradient(to bottom, white 0px, rgb(222, 221, 221) 100%);
}

button:focus {
	outline: 0;
}

.noscroll {
	overflow-x: hidden;
	overflow-y: hidden;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearfloat {
	clear: both;
	font-size: 1px;
	height: 0;
	line-height: 0;
}

.fullWidth {
	width: 100% !important;
}

.fullHeight {
	height: 100% !important;
}

.horizontalLine {
	border-bottom: 1px solid #efefef;
	margin: 5px 0 8px;
	clear: both;
}

footer .horizontalLine {
	border-color: #333;
	margin: 0 0 8px;
}

.alwaysOnTop {
	z-index: 9999;
}

.inlineBlock {
	display: inline-block !important;
}

/* Carousel */
/* .carousel, .carousel-inner,
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, 
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	height: inherit;
} */

.carousel-indicators {
	/* display: none; */
	opacity: 0.40;
}

/* General content */
.details {
	height: 100%;
}

@media (min-width: 1024px) {
	.pageBody:not(.aboutDetails) {
		margin-left: 20%;
	}
}

.caption {
	font-size: 9pt;
	font-style: italic;
	float: right;
}

footer .caption {
	margin-right: 4px;
	margin-bottom: 4px;
}

/* Tabs */
.navTabs {
	border-bottom: 1px solid #fff;
	background-color: #ccc;
}

.navTabs.menu {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 5px 0px 0px 5px;
	position: fixed;
	right: 0;
	top: 1%;
	padding: 4px;
	z-index: 99;
	-moz-transition: right 0.5s;
	-webkit-transition: right 0.5s;
    transition: right 0.5s;
}

.navTabs.sidebarMenu {
	border-left: 1px solid #fff;
	/* border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 5px 0px 0px 5px; */
	position: fixed;
	right: 0;
	top: 0;
	width: 0px;
	height: 100%;
	z-index: 99;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.navTabs.sidebarMenu .pageBody {
	border-top: 1px solid #ddd;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	margin-top: 40px;
}

.navTabs.menu.show {
	right: 34.8%;
	-moz-transition: right 0.5s;
	-webkit-transition: right 0.5s;
    transition: right 0.5s;
}

.navTabs.sidebarMenu.show {
	width: 35%;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.navTabs.menu:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	.tabs-lg {
		display: none;
	}
}

@media (min-width: 768px) {
	.tabs-sm {
		display: none;
	}
}
	
.nav-tabs {
	background: none;
	border: none !important;
	border-top: 1px solid #ddd;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover {
	color: #888;
}

.nav-tabs>li>a:focus {
	color: #888;
	outline: 0;
}

.nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover {
	background-color: #d8d8d8;
	border: none !important;
}

.nav-tabs>li.active>a, .nav-tabs>li>a:focus, .nav-tabs>li.active>a:focus {
	background: none;
	border: none !important;
}

/* Home Section */
.homeSection, .homeSection > .pageBody {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeName {
    font-size: 5em;
    font-style: italic;
}

.homeTitle {
    margin: 0px;
}

/* Profile section */
.aboutSection {
        justify-content: flex-end;
        align-items: center;
        background: #fff url("/images/bg/profile_bg5.png") left no-repeat border-box;
}

.profileLogo {
	width: 100%;
	text-align: left;
	padding: 12px 15px;
}

.profileImg > img {
	max-width: 100%;
	height: auto;
	-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

/* @media (min-width: 768px) {
	.profileImg > img {
		max-width: 100%;
	}	
} */

@media (min-width: 768px) {
	.profileTitle {
		margin-top: 10%;
	}
}

.aboutMe {
	margin-top: 16px;
}

.aboutMe h4 {
	font-style: italic;
	margin-bottom: 0px;
}

.aboutMe > p {
	font-size: 1.22em;
	line-height: 1.5em;
        margin-bottom: 16px;
}
/* Resume section */
.resumeSection {
        background: #FFF url("/images/bg/work_ex_code_blue_bg_dark.png") no-repeat center border-box;
	background-size: cover;
}

/*
.resumeSection {
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.resumeSection::before {
	background: #FFF url("/images/bg/work_ex_code_blue_bg.jpg") no-repeat center fixed border-box;
	background-size: cover;
	opacity: 0.25;
	content: ' ';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
}
*/

.resume > .description > ul > li {
	font-weight: bold;
}

.resumeLink {
	font-size: 0.9em;
	float: left;
	margin: 4px 0px;
}

.title {
	font-size: 1.25em;
}

.subTitle {
	font-style: italic;
	font-size: 0.8em;
}

.subText {
	font-size: 0.9em;
}

/* Album section */
.othersSection {
        background: #FFF url("/images/bg/travels_snow_bg.png") no-repeat center border-box;
	background-size: cover;
	padding-top: 30px;
	color: #333;
}

.albumContainer {
	width: 100%;
}

.albumTable {
	max-height: 100%;
	max-width: 100%;
	border-collapse: separate;
	border-spacing: 0px 8px;
}

.albumCol {
	text-align: center;
	max-width: 100%;
	margin: 8px;
	padding: 0px;
	/*border: 8px solid #eee;*/
}

.albumCol:hover {
	cursor: pointer;
}

.albumImg {
	height: auto;
	max-width: 100%;
}

.albumTitle {
	font-weight: bold;
	opacity: 0;
	/*background-color: #eee;*/
	-moz-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	transition: opacity 1s linear;
}

.albumCol:hover .albumTitle {
	opacity: 1;
	-moz-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	transition opacity 1s linear;
}

.albumCol:hover .albumImg {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.albumCol:hover .albumImg {
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

/* Contact section */
.contactSection {
	min-height: 275px;
	max-height: 550px;
	height: auto;
}

.contactLinks {
	margin: 0px 4px;
}

.gmailProfile {
	margin: 0px 8px;
}

.locationProfile img {
	margin-top: -5px;
}

ul.contactsList {
	list-style-type: none;
	padding-left: 0px;
}

ul.contactsList > li {
	float: left;
	margin-right: 8px;
	margin-bottom: 4px;
}

.emailForm div {
	margin: 16px 8px;
}

.emailForm input, .emailForm textarea {
	padding-left: 4px;
	width: 250px;
	border: 2px inset;
	border-radius: 5px;
}

.emailAction {
	margin: -16px 8px !important;
}

.marker {
	text-align: center;
	width: 60px;
}

/* Overlay */
.overlay {
	background-color: rgba(34,34,34,0.85);
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-x: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1060;
}

/* Slide show */
.close {
	color: #fff;
	opacity: 0.4;
	margin: 8px;
	position: relative;
}

.close:hover, .close:focus {
	color: #fff;
}

.slideShow {
	margin-top: 6%;
}

.slideShow .start, .slideShow .pause {
	text-align: center;
	position: relative;
	top: -6%;
}

.slideShow .start span, .slideShow .pause span {
	opacity: 0.55;
}

.slideShow .start span:hover, .slideShow .pause span:hover {
	cursor: pointer;
	opacity: 1.0;
}

