@CHARSET "ISO-8859-1";

body {
	font-size: 10pt;
}

section {
	height: 550px;
	background-image: linear-gradient(to bottom, #4c5e6d 0px, #ecf1f3 100%);
}

.imgBg {
  background-size: 100% auto;
}

.fullWidth {
	width: 100% !important;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	height: inherit;
}

.carousel-indicators {
	opacity: 0.40;
}

.navTabs {
	position: fixed;
	z-index: 100;
}

.alwaysOnTop {
	z-index: 9999;
}

.profile {
	height: 80%;
	position: relative;
	top: 15%;
	left: 10%;
	width: 100%
}

.profile > img {
	height: inherit;
	float: left;
	
	-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
    
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.details {
	text-align: center;
	position: relative;
	top: 56%;
}

.profile > .details {
	float: left;
	text-align: left;
	left: 4%;
	width: 60%
}

/* .homeSection {
	background-image: url(../images/slides/SF.jpg);
} */

.nav-tabs, .nav-tabs>li>a:focus {
	background-color: #ecf1f3;
}

.nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover {
	background-color: #e1e3e4;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
	background-color: #cecece;
}
